{{>header}}
<main class="flex-grow-1"
      style="background-color: {{color_categoria_sec}};">
    {{#yaVistaTodas}}
        <p><i class="bi bi-check-circle-fill"></i> Esta pregunta ya la viste.</p>
    {{/yaVistaTodas}}
<div class="container my-5 d-flex justify-content-center">
    <div class="row w-100 justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">

            <div class="card shadow-lg p-4 text-center border-0 text-dark"
                 id="contenedor-trivia"
                 style="background-color: {{color_categoria}}; border-radius: 20px;">

                <div class="mb-3 text-uppercase fw-bold small text-dark opacity-75">
                    Categoría: {{nombre_categoria}}
                </div>

                <h2 class="h3 fw-bold mb-4 text-dark">
                    {{enunciado}}
                </h2>

                <hr class="border-dark opacity-25 mb-4">

                <div class="d-grid gap-3">

                    {{#respuestas}}

                        <form action="/partida/validarRespuesta" method="POST">

                            <input
                                    type="hidden"
                                    name="id_pregunta"
                                    value="{{pregunta_id}}">

                            <button
                                    type="submit"
                                    name="respuesta_id"
                                    value="{{id}}"

                                    class="btn btn-light
                                           btn-outline-info
                                           btn-lg
                                           w-100
                                           py-3
                                           text-start
                                           px-4
                                           border-2
                                           shadow-sm
                                           text-dark">

                                {{texto}}

                            </button>

                        </form>

                    {{/respuestas}}

                </div>

                <div class="mt-4 text-center">
                    <button type="button" class="btn btn-sm btn-link text-muted text-decoration-none small">
                        🏳️ Reportar pregunta inválida
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>
</main>
{{>footer}}